lib/**/*
package/**/*
tests/generated/**/*
tests/.tmp/**/*
tests/schemas/generated/**/*
tests/schemas/providers/generated/**/*
node_modules/**/*
coverage/**/*
dist/**/*
build/**/*
.cache/**/*
prisma/generated/**/*
prisma/shield/**/*
*.log
*.png
*.svg
prisma/dev.db
prisma/schema.*.prisma
prisma/trpc.config.*.json